.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #E0E8F5;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.header h1 {
    font-size: 3rem;
}

.header h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #555;
}


.navigation {
    display: flex;
    gap: 1rem;
}

.navigation button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background: #E0E8F5;  
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background 0.3s ease;
}

.navigation button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-20px);
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.header-logo {
  width: 100px;   
  height: auto;
  margin-right: 10px;
  background-color: transparent;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}
.button-text-black {
    color: black;
    background-color: transparent;
}

.button-text-black:hover {
    color: black; }
