<!DOCTYPE html>
<html lang="en">
  <head>
    <header class="header">
      <div class="logo-container" >
        <!-- put commented section back and delete span below except logo to revert to old header -->
        <!-- <span class="dummy-logo">
          <b>Cullinary Collab</b>
          <img src = "ChampagneToast.jpg"  width ="275">
        </span>  -->
        <span>🔶Cullinary Collab</span><img src = "ChampagneToast.jpg">
      </div>
      
        <link rel="stylesheet" href="Settings.css">
  </header>
  
  </head>
  <body>
    <div class="settings-container">
    
    <div class="user-info-settings">
      <img src="usericon.png"> <span>User Information </span>
    </div>
    <div class="manage-friends-settings">
      <img src="Friendslisticon.png"> <span>Manage Friends </span>
    </div>
    <div class="App-settings">
      <img src="appsettings.png"> <span>App Settings </span>
      
    </div>
  </div>
  </body>

</html>